/* .main{
    padding:25px;
} */
 /* Image */
.neutral-image {
  width: 100%;
  max-width: 380px;
  height: 480px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0 16px 35px rgba(0, 0, 0, 0.15);
}

/* Price */
.price-neutral {
  font-size: 1.8rem;
  font-weight: 700;
  color: #198754;
}

/* Description */
.description-neutral {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
}

/* Info Grid */
.info-grid {
  display: flex;
  gap: 40px;
}

.info-grid div {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  color: #6c757d;
  text-transform: uppercase;
}

.value {
  font-size: 0.95rem;
  font-weight: 600;
}
